<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MSUM - Mattermost 简易用户管理</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div style="padding:15px;">
    <div class="jumbotron">
        <h1 class="display-4">MSUM</h1>
        <p class="lead">Mattermost Simple User Management - Mattermost 简易用户管理</p>
        <hr class="my-4">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">当前令牌用户</span>
            </div>
            <input type="text" class="form-control" disabled="disabled" value="TOKEN***TOKEN : SOMEBODY : NOT_GRANTED">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">重新授权</button>
            </div>
        </div>
    </div>
    <div style="padding-left:15px;">

    </div>
</div>
<script th:src="@{/webjars/jquery/3.3.1-2/jquery.slim.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>

</html>
