<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MSUM - Mattermost 简易用户管理</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div style="padding:20px;">
    <div class="jumbotron">
        <h1 class="display-4">MSUM</h1>
        <p class="lead">Mattermost Simple User Management - Mattermost 简易用户管理</p>
    </div>
    <div>
        <div class="card" id="function">
            <div class="card-body">
                <h5 class="card-title">创建新用户</h5>
                <h6 class="card-subtitle mb-2 text-muted">请管理员填妥各项信息后点击“确认”按钮创建新用户。</h6>
                <hr/>
                <div th:switch="${operationResults}">
                    <div th:case="0" class="alert alert-success" role="alert">
                        CODE_0: 新用户创建成功。<br/>
                        <span th:text="'用户名: ' + ${createdResponse.username}"></span>
                        <span th:text="' / 邮箱: ' + ${createdResponse.email}"></span>
                        <span th:text="' / 姓名: ' + ${createdResponse.lastname} + ${createdResponse.firstname}"></span>
                    </div>
                    <div th:case="-1" class="alert alert-danger" role="alert">
                        CODE_-1: 新用户创建失败。
                    </div>
                    <div th:case="10" class="alert alert-warning" role="alert">
                        CODE_10: 表单内容填写有误，请确认。
                    </div>
                    <div th:case="101" class="alert alert-warning" role="alert">
                        CODE_101: 用户权限不足，新用户创建失败。
                    </div>
                    <div th:case="102" class="alert alert-warning" role="alert">
                        CODE_102: 用户权限不足，新用户创建失败。
                    </div>
                    <div th:case="103" class="alert alert-warning" role="alert">
                        CODE_103: 用户创建时发生问题，新用户创建失败（存在同名帐户？）。
                    </div>
                </div>
                <form action="#" th:action="@{/biz/createNewUser}" th:object="${createUserForm}" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="token">个人访问令牌</label>
                            <input type="password" class="form-control" id="token" th:field="*{token}" th:errorclass="is-invalid" required>
                            <small id="tokenHelp" class="form-text text-muted">“个人访问令牌”可在 Mattermost 中的“账户设置”、“安全”菜单中申请。</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="lastname">姓</label>
                            <input type="text" class="form-control" id="lastname" th:field="*{lastname}" th:errorclass="is-invalid" placeholder="李" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="firstname">名</label>
                            <input type="text" class="form-control" id="firstname" th:field="*{firstname}" th:errorclass="is-invalid" placeholder="小狼" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="username">用户名</label>
                            <input type="text" class="form-control" id="username" th:field="*{username}" th:errorclass="is-invalid" placeholder="xiaolang_li" required>
                            <small id="usernameHelp" class="form-text" style="color: red;">请注意自动拼写结果，请尽量以“名_姓”的方式设立，如李小狼应设置为：xiaolang_li。</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="nickname">昵称</label>
                            <input type="text" class="form-control" id="nickname" th:field="*{nickname}" th:errorclass="is-invalid" placeholder="李小狼" required>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email">邮箱地址</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid" placeholder="xl.li@kaimadata.cn" required>
                            <small id="emailHelp" class="form-text" style="color: red;">请根据实际开通情况调整，未持有社内邮箱的用户可使用“@internal.kaimadata.cn”后缀，如：xl.li@internal.kaimadata.cn。</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" id="password" th:field="*{password}" th:errorclass="is-invalid" required>
                            <small id="passwordHelp" class="form-text text-muted">默认初始密码为：KaimaSh.w0rd，请督促修正初始密码。</small>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="autoFill()">根据姓名自动填写</button>
                    <button type="submit" style="float:right;" class="btn btn-primary">确认</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.3.1-2/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/static/pinyinjs/pinyin_dict_notone.js}"></script>
<script th:src="@{/static/pinyinjs/pinyinUtil.js}"></script>
<script th:src="@{/static/page.js}"></script>
</body>

</html>
