:root {
  --page-background: url(/img/bk.jpg);
  --page-cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEX///////////////////////+65XQCAAAABXRSTlPUzXppDN7WmLAAAAAZSURBVAjXY3ASVGEwDQ1mYA0NAGEQGyQGAC9SA/00lbgwAAAAAElFTkSuQmCC");
}

#post-bg,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: 1s;
}

@property --theme-bg-trans1 {
  syntax: '<color>';
  inherits: true;
  initial-value: white;
}

:root {
  --cursor-data: var(--page-cursor);
  --body-background: var(--page-background);
  --theme-highlight: #2bf;
  --theme-subcolor: #fe2;
  --theme-stress: #c0392b;
  --theme-bar-color-0: #fe2;
  --theme-bar-color-1: rgba(255, 238, 34, 0.667);
  --theme-bar-color-2: rgba(255, 238, 34, 0.267);
  --theme-bar-color-3: rgba(255, 238, 34, 0.133);
  --theme-cursor: #ccc;
  --theme-cursor-bg: rgba(255, 255, 255, 0.533);
  --theme-text-hover: #000;
  --theme-text: #c4c4c4;
  --theme-text-light: #fff;
  --theme-text-rev: #000;
  --theme-background: #141516;
  --theme-bg-trans0: rgba(20, 21, 22, 0.95);
  --theme-bg-trans1: rgba(20, 21, 22, 0.8);
  --theme-bg-hover: #000;
  --theme-bg-light: #fff;
  --theme-bg-soft: rgba(255, 255, 255, 0.05);
  --theme-bg-soft-hover: rgba(255, 255, 255, 0.1);
  --theme-btn-bg: #d4d8dd;
  --theme-border: #fe2;
  --theme-border-light: #fff;
  --theme-border-soft: rgba(255, 255, 255, 0.1);
  --theme-unimportant: #898989;
  --theme-unimportant-trans: rgba(137, 137, 137, 0.4);
  --theme-unimportant-2: #535353;
  --theme-td-border: #2bf;
  --theme-td-hover: rgba(34, 187, 255, 0.1);
  --theme-tag-bg: #313131;
  --theme-tag-count-bg: #494949;
  --theme-tag-border: #313131;
  --theme-loadingbar: #fff;
}

aside {
  scrollbar-width: none;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--theme-text-light);
  padding: 0 20px;
}

aside::-webkit-scrollbar {
  display: none;
}

aside::-ms-scrollbar {
  display: none;
}

aside h1 {
  transition: 0.6s;
  font-family: BenderLight, sans-serif;
  margin-top: 0;
}

aside footer {
  color: var(--theme-unimportant);
  padding: 0 3px 30px 3px;
  font-family: BenderLight;
}

html,
body,
label {
  cursor: var(--cursor-data) 3 3, default;
}

html,
body {
  position: static;
}

#cursor-outer {
  z-index: 65536;
  position: fixed;
  transform: translate3d(-50%, -50%, 0px);
  height: 36px;
  width: 36px;
  border: 1px solid var(--theme-cursor);
  border-radius: 50%;
  pointer-events: none;
  transition: background-color 0.3s, width 0.3s, height 0.3s;
}

#cursor-effect {
  z-index: 65535;
  position: fixed;
  transform: translate3d(-50%, -50%, 0px) scale(0);
  height: 80px;
  width: 80px;
  border: 4px solid var(--theme-cursor);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
}

@media (min-width: 769px) {
  main {
    -ms-scrollbar-base-color: var(--theme-bar-color-2);
    -ms-scrollbar-track-color: var(--theme-bar-color-3);
    scrollbar-color: var(--theme-bar-color-0) var(--theme-bar-color-2);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--theme-bar-color-2);
    border-radius: 0.25em;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--theme-bar-color-3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--theme-bar-color-1);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--theme-bar-color-3);
  }
}

body {
  margin: 0;
  color: var(--theme-text);
  background-image: var(--body-background);
  background-color: var(--theme-background);
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-text-light);
  margin-block-start: 0.33em;
  margin-block-end: 0.23em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

p {
  overflow: visible;
}

a {
  text-decoration: none;
}

a,
:is(strong,
  em)>a {
  color: var(--theme-highlight);
  padding: 0 3px;
  transition: color 0.3s, background-color 0.3s, line-height 0.3s, padding 0.3s, border 0.3s, opacity 0.3s;
}

@media (min-width: 769px) {

  a:hover,
  :is(strong:hover,
    em)>a:hover {
    color: var(--theme-text-hover);
    background-color: var(--theme-highlight);
  }

  a:active,
  :is(strong:active,
    em)>a:active {
    color: var(--theme-text-hover);
    background-color: var(--theme-subcolor);
  }
}

button {
  background: var(--theme-bg-soft);
  color: var(--theme-text-light);
  font-family: "JetBrains Mono";
  border: unset;
}

time {
  font-family: BenderLight;
}

pre {
  font-family: "JetBrains Mono";
  margin: 6px 0;
  background-color: transparent;
}

em {
  font-family: Times, "Times New Roman", 'FangSong', 'SimSun', serif;
}

strong em,
em strong {
  font-family: "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif;
}

:not(a)>:is(strong,
  em) {
  color: var(--theme-light);
}

:not(a)>:is(strong em,
  em strong) {
  color: var(--theme-stress);
}

blockquote {
  border-left: var(--theme-highlight) solid 5px;
  padding: 3px 20px;
  background-color: var(--theme-bg-soft);
  transition: 0.3s;
}

blockquote blockquote {
  margin: 0;
  padding-right: 0;
}

blockquote:hover {
  background-color: var(--theme-bg-soft-hover);
}

ol {
  overflow: auto;
}

li {
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
}

li blockquote {
  margin: 0;
  padding-right: 0;
}

table {
  border: 0;
  border-collapse: collapse;
}

table th {
  color: var(--theme-text-rev);
  background-color: var(--theme-bg-light);
  border: var(--theme-border-light) solid 1px;
  padding: 0 10px;
}

table td {
  padding: 0px 8px;
  border: var(--theme-td-border) solid 1px;
}

table td:hover {
  background-color: var(--theme-td-hover);
}

a,
button,
input,
textarea {
  cursor: var(--cursor) 3 3, pointer;
}

input {
  cursor: var(--cursor) 3 3, text;
  user-select: none;
  font-family: "JetBrains Mono", 'Microsoft YaHei', '\5b8b\4f53', sans-serif;
}

.bottom-btn {
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .bottom-btn {
    position: fixed;
    left: 0;
    width: 100vw;
  }
}

.bottom-btn div {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.bottom-btn a {
  overflow: hidden;
  display: block;
  right: 0;
  width: 40px;
  height: 40px;
  transition: 0.3s, 0 visibility;
  color: var(--theme-text-light);
  line-height: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  padding: 0;
  user-select: none;
}

@media (min-width: 769px) {
  .bottom-btn a:hover {
    color: var(--theme-text-hover);
    line-height: 30px;
    background-color: var(--theme-subcolor);
  }
}

.text-title,
.text-content {
  color: #000;
  height: 18px;
  line-height: 18px;
  padding: 0 5px;
  font-size: small;
  font-family: sans-serif;
  display: inline-block;
}

.text-title {
  background-color: var(--theme-highlight);
}

.text-content {
  margin: 0 10px 0 0;
  padding: 0 28px 0 5px;
  background-color: #fff;
}

.gutter pre {
  margin: 6px 0;
  padding-top: 5px;
}

.highlight {
  margin: 1em 10px;
  overflow-x: hidden;
}

table td {
  border: 0;
}

table .gutter {
  position: sticky;
  color: var(--theme-text-rev);
  text-align: right;
  background-color: var(--theme-highlight);
  left: 0;
  padding: 0 8px 5px 8px;
}

table .gutter,
table .gutter pre,
table .gutter span {
  user-select: none;
  pointer-events: none;
}

header {
  pointer-events: none;
  top: 0;
  z-index: 15;
  height: 100%;
  font-family: BenderLight;
  display: inline;
  position: sticky;
}

nav {
  position: relative;
  height: 100%;
  white-space: nowrap;
  scrollbar-width: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav::-webkit-scrollbar {
  display: none;
}

nav::-ms-scrollbar {
  display: none;
}

nav li {
  display: block;
}

.navBlock {
  transition: unset;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 12px;
  display: inline-block;
  padding: 2.727272727272727em 0;
  width: 100%;
}

.navBlock:active {
  background: unset;
}

.navBtn {
  transition: transform 0.3s;
  pointer-events: all;
  display: block;
  position: absolute;
  top: 1em;
  font-size: 2em;
  z-index: 10;
}

.navBtnIcon {
  z-index: 10;
  width: 1em;
  height: 1em;
  display: block;
  position: relative;
}

.navBtnIconBar {
  position: absolute;
  top: 50%;
  width: 1em;
  height: 0.1em;
  background-color: var(--theme-btn-bg);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  transition: transform ease-in-out 0.3s;
}

.navBtnIconBar:nth-child(1) {
  left: 0;
  transform: translate(0, -350%);
}

.navBtnIconBar:nth-child(2) {
  left: 0;
  transform: translate(0, -50%);
}

.navBtnIconBar:nth-child(3) {
  right: 0;
  transform: translate(0, 250%);
}

.expanded .navBtnIconBar:nth-child(1) {
  transform: translate(0, -50%) rotateZ(45deg) scaleX(0.5) translate(-50%);
}

.expanded .navBtnIconBar:nth-child(3) {
  transform: translate(0, -50%) rotateZ(45deg) scaleX(0.5) translate(50%);
}

.expanded .navBtnIconBar:nth-child(2) {
  transform: translate(0, -50%) rotateZ(-45deg);
}

.navContent {
  overflow: visible;
  margin: unset;
  position: relative;
  padding: 0;
  pointer-events: all;
}

.navItem {
  overflow: visible;
  position: relative;
  margin: unset;
  transition: 0.6s;
}

@media (max-width: 1023px) {
  .navItem .navItemTitle::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
  }
}

.navItem .navItemTitle {
  transition: 0.3s;
  width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
  position: relative;
  display: block;
}

.active>:is(a,
  .active .navBlock)>.navItemTitle,
.active>.navItemTitle {
  color: var(--theme-highlight);
}

.active>:is(a::before,
  .active .navBlock)>.navItemTitle::before,
.active>.navItemTitle::before {
  content: "";
  display: block;
  color: var(--theme-highlight);
  border-color: var(--theme-highlight);
  width: 100%;
  position: absolute;
  left: 0;
}

.navItemList {
  overflow: visible;
  display: none;
  top: 0;
  text-align: left;
  padding: 0;
}

.navItemList .navItem {
  min-width: max-content;
  box-sizing: border-box;
  margin: 0;
}

.navItemList .navItem a {
  min-width: max-content;
  padding: 0;
  display: block;
  width: 100%;
  line-height: 40px;
}

@media (max-width: 768px) {
  header {
    left: 0;
  }

  header .navContent {
    padding-left: 0;
  }
}

@media (max-width: 1023px) {
  header {
    width: 428px;
    max-width: 100%;
    position: fixed;
  }

  nav {
    max-width: 428px;
    height: max-content;
    min-height: 100vh;
  }

  nav::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--theme-bg-trans0);
    transform: translateX(-100%);
    transition: transform 0.6s;
    pointer-events: all;
  }

  .navBtn {
    left: 1em;
  }

  .navContent {
    overflow-y: auto;
    transform: translateX(-100%);
    width: 100%;
    transition: transform 0.6s;
  }

  .navItem {
    padding: 0.1em 4em;
  }

  .navBlock {
    box-sizing: border-box;
    align-items: flex-end;
    padding: unset;
    height: 100%;
  }

  .navBlock:hover {
    background-color: unset;
  }

  .navItemTitle {
    color: var(--theme-text-light);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--theme-unimportant);
  }

  .active>:is(a,
    .navBlock)>.navItemTitle::before {
    border-color: var(--theme-highlight);
  }

  .expanded .navContent,
  .expanded nav::before {
    transform: translateX(0%);
  }

  .navItemList {
    width: 100%;
  }

  .navItemList>.navItem {
    padding-left: 1em;
    width: calc(100% - 1em);
  }

  .navItemTitle:not(:only-child)::before {
    content: '>';
    margin: 0 5px;
  }

  .expanded>.navItemList,
  .expanded>.navBlock>.navItemList {
    margin-top: 6px;
    display: block;
  }

  .expanded>.navItemList>.navItemList,
  .expanded>.navBlock>.navItemList>.navItemList {
    box-sizing: border-box;
    display: inline-block;
    width: max-content;
    min-width: 100%;
    margin: 0;
  }

  .expanded>.navItemTitle:not(:only-child)::before,
  .expanded>.navBlock>.navItemTitle:not(:only-child)::before {
    content: '▽';
    color: var(--theme-highlight);
  }
}

@media (min-width: 1024px) {
  header {
    width: 180px;
  }

  .navItem {
    width: 120px;
  }

  .navBtn {
    display: none;
  }

  .navBlock:hover {
    background-color: unset;
  }

  .navItemTitle {
    color: var(--theme-text-light);
  }

  .navItemTitle::before {
    height: 100%;
    top: 0;
    box-sizing: border-box;
  }

  .navItemList {
    width: max-content;
    min-width: 100px;
    position: absolute;
    background-color: var(--theme-bg-hover);
  }

  .navItemList .navItem {
    width: 100%;
    padding: 0;
  }

  .navItemList .navItem .navItemTitle {
    box-sizing: border-box;
    color: var(--theme-highlight);
  }

  .navItemList .navItem a:hover .navItemTitle {
    color: var(--theme-text-hover);
  }

  .navItemList .navItem:hover>.navItemTitle {
    background-color: var(--theme-highlight);
    color: var(--theme-text-hover);
  }

  .navBlock:hover,
  .navItem:hover {
    display: block;
  }

  .navBlock:hover>.navItemList,
  .navItem:hover>.navItemList {
    box-sizing: border-box;
    display: inline-block;
    width: max-content;
    min-width: 100%;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  header {
    width: 240px;
  }

  .navItem {
    width: 150px;
  }
}

@media (min-width: 1920px) {
  header {
    width: 310px;
  }
}

#canvas-dust {
  z-index: -65536;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
}

@media (max-width: 1023px) {
  .hide.navBtn {
    transform: translateY(-2em);
  }

  :is(.moving,
    .up) nav {
    overflow: visible;
  }

  .moving {
    pointer-events: none;
  }

  .moving .navContent {
    overflow: visible;
  }

  .up article {
    margin-top: 50px;
  }

  .up .closed .navBtn {
    transform: translateY(-0.5em);
  }

  .up .closed .navContent {
    overflow: visible;
  }
}

@media (min-width: 769px) {
  @-moz-keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  @-webkit-keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  @-o-keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  @keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: calc(100vw - 238px);
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }
}

@media (max-width: 768px) {
  @-moz-keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  @-webkit-keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  @-o-keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }

  @keyframes get-out-top {
    0% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      transform: translate(-100%, 0);
      position: absolute;
    }

    100% {
      padding: 0.5em 2em 0 5em;
      left: 100vw;
      position: absolute;
      transform: translate(-100%, -100%);
    }
  }
}

@-moz-keyframes get-in-top {
  0% {
    padding: 0.5em 2em 0 5em;
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@-webkit-keyframes get-in-top {
  0% {
    padding: 0.5em 2em 0 5em;
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@-o-keyframes get-in-top {
  0% {
    padding: 0.5em 2em 0 5em;
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes get-in-top {
  0% {
    padding: 0.5em 2em 0 5em;
    transform: translate(-100%, -100%);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

#loading {
  font-family: 'JetBrains Mono';
  display: flex;
  justify-content: center;
}

#loading div {
  display: inline-block;
}

#loading p {
  animation: 2s loading infinite steps(4, jump-none);
  overflow-wrap: normal;
  overflow: hidden;
  display: table-caption;
}

@media (min-width: 1024px) {

  .blur article,
  .blur aside,
  .blur #canvas-dust {
    filter: blur(0.8px);
  }
}

@-moz-keyframes loading {
  0% {
    width: calc(100% - 1.5em);
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes loading {
  0% {
    width: calc(100% - 1.5em);
  }

  100% {
    width: 100%;
  }
}

@-o-keyframes loading {
  0% {
    width: calc(100% - 1.5em);
  }

  100% {
    width: 100%;
  }
}

@keyframes loading {
  0% {
    width: calc(100% - 1.5em);
  }

  100% {
    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {

  :is(.up,
    .moving) header {
    clip-path: polygon(0 0, 0 100%, calc(100vw - 238px) 100%, calc(100vw - 238px) 0);
  }
}

.loading {
  transition: opacity 0.3s;
}

.loading.loading.reset .loadingBar {
  transition: unset;
  width: 0;
}

.loading .loadingBar {
  z-index: 100;
  position: fixed;
  top: 0;
  border-bottom: 1px solid var(--theme-loadingbar);
  width: 0%;
  transition: width 0.6s;
}

.loading .loadingBar::before {
  width: 20px;
}

.loading .loadingBar::after {
  width: 1px;
}

.loading .loadingBar.left {
  left: 0;
}

.loading .loadingBar.left::before {
  box-shadow: 10px 0 15px 1px var(--theme-loadingbar);
  right: 0;
}

.loading .loadingBar.left::after {
  box-shadow: 0.5px 0 8px 2px var(--theme-loadingbar), 0.5px 0 2px 1px var(--theme-loadingbar);
  right: 0;
}

.loading .loadingBar.right {
  right: 0;
}

.loading .loadingBar.right::before {
  box-shadow: -10px 0 15px 1px var(--theme-loadingbar);
  left: 0;
}

.loading .loadingBar.right::after {
  box-shadow: -0.5px 0 8px 2px var(--theme-loadingbar), -0.5px 0 2px 1px var(--theme-loadingbar);
  left: 0;
}

.loadingBar::before,
.loadingBar::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  height: 1px;
  transition: box-shadow 0.3s 0.1s;
}

.pjax-out {
  pointer-events: none;
  position: absolute !important;
  animation: 0.6s pjax-animate-out;
}

.pjax-in {
  pointer-events: none;
  position: absolute !important;
  animation: 0.6s pjax-animate-in;
}

@-moz-keyframes pjax-animate-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes pjax-animate-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes pjax-animate-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pjax-animate-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes pjax-animate-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes pjax-animate-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes pjax-animate-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pjax-animate-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

:root .mermaid {
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 16px;
  fill: #ccc;
}

:root .mermaid .error-icon {
  fill: #a44141;
}

:root .mermaid .error-text {
  fill: #ddd;
  stroke: #ddd;
}

:root .mermaid .edge-thickness-normal {
  stroke-width: 2px;
}

:root .mermaid .edge-thickness-thick {
  stroke-width: 3.5px;
}

:root .mermaid .edge-pattern-solid {
  stroke-dasharray: 0;
}

:root .mermaid .edge-pattern-dashed {
  stroke-dasharray: 3;
}

:root .mermaid .edge-pattern-dotted {
  stroke-dasharray: 2;
}

:root .mermaid .marker {
  fill: #d3d3d3;
  stroke: #d3d3d3;
}

:root .mermaid .marker.cross {
  stroke: #d3d3d3;
}

:root .mermaid svg {
  font-size: 16px;
}

:root .mermaid .label {
  color: #ccc;
}

:root .mermaid .cluster-label text {
  fill: #f9fffe;
}

:root .mermaid .cluster-label span {
  color: #f9fffe;
}

:root .mermaid .label text,
:root .mermaid span {
  fill: #ccc;
  color: #ccc;
}

:root .mermaid .node :is(rect,
  :root .mermaid circle,
  :root .mermaid ellipse,
  :root .mermaid polygon,
  :root .mermaid path) {
  fill: #1f2020;
  stroke: #81b1db;
  stroke-width: 1px;
}

:root .mermaid .node .label {
  text-align: center;
}

:root .mermaid .node.clickable {
  cursor: pointer;
}

:root .mermaid .arrowheadPath {
  fill: #d3d3d3;
}

:root .mermaid .edgePath .path {
  stroke: #d3d3d3;
  stroke-width: 2px;
}

:root .mermaid .flowchart-link {
  stroke: #d3d3d3;
  fill: none;
}

:root .mermaid .edgeLabel {
  background-color: #585858;
  text-align: center;
}

:root .mermaid .edgeLabel rect {
  opacity: 0.5;
  background-color: #585858;
  fill: #585858;
}

:root .mermaid .cluster rect {
  fill: #474949;
  stroke: rgba(255, 255, 255, 0.25);
  stroke-width: 1px;
}

:root .mermaid .cluster text {
  fill: #f9fffe;
}

:root .mermaid .cluster span {
  color: #f9fffe;
}

:root .mermaid .mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: "trebuchet ms", verdana, arial, sans-serif;
  font-size: 12px;
  background: #201f1f;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}

@media (min-width: 769px) {
  header {
    left: 0;
  }

  aside {
    right: 0;
  }
}

@media (min-width: 992px, max-width 1919px) {
  aside {
    padding: 0 25px 0 15px;
  }
}

@media (min-width: 1024px) {
  .navContent {
    transform: unset;
  }

  .navItem {
    padding-left: 1.2em;
  }

  .navBlock {
    text-align: right;
  }

  .navBlock .navItemTitle::before {
    border-left: 4px solid;
    left: 0;
  }

  .navContent:not(.search) .navBlock::before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 2em;
  }

  .navContent:not(.search) .navBlock:hover>.navItemTitle {
    margin-left: 1em;
  }

  .navContent:not(.search) .navBlock>.navItemList {
    left: calc(100% + 2em);
  }

  .navItemList {
    left: 100%;
  }

  .navItemList .navItem {
    padding-right: 1px;
  }

  .navItemList .navItemTitle {
    padding-left: 0.8em;
    padding-right: 0.5em;
  }

  .navItemList>.navItem>.navItemTitle:hover {
    padding-left: 1.8em;
  }
}

@media (min-width: 1440px) {
  .navItem {
    padding-left: 2.25em;
  }

  aside {
    margin-left: 10px;
  }
}

@media (min-width: 1920px) {
  .navItem {
    padding-left: 5.25em;
  }

  aside {
    margin: 0 2.5%;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 12px;
  }

  article {
    border: none;
    width: 90%;
    max-height: none;
  }

  article #post-bg {
    margin: 0;
    padding: 10px 10px 0 10px;
  }

  .highlight,
  blockquote {
    margin: 1em 0;
  }

  aside {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
  }

  aside h1 {
    font-size: xx-large;
    text-align: center;
    margin: 0;
  }

  aside footer {
    text-align: center;
    padding: 10px 0;
    position: static;
  }

  #post-index {
    margin: 0;
  }

  #to-index {
    bottom: 56px;
  }

  #to-top {
    bottom: 16px;
  }

  #post-index {
    margin: 16px 10px 0 10px;
  }

  #archive-flex {
    flex-direction: column;
  }

  #archive-aside {
    order: 1;
  }

  #Categories {
    margin: 10px;
  }

  #cursor-container {
    display: none;
  }

  #Archives {
    margin: 0;
  }

  #Archives time {
    color: var(--theme-text-light);
    padding: 0;
  }

  #Archives .control {
    width: 55px;
  }
}

@media (min-width: 769px) {
  main {
    display: flex;
    justify-content: space-evenly;
  }

  article {
    width: 90%;
  }

  #to-index {
    display: none;
  }

  aside {
    top: 0;
    width: 170px;
  }

  aside h1 {
    font-size: xx-large;
  }

  aside a img {
    transition: background-color 1s;
  }

  aside a img:hover {
    background-color: var(--theme-bg-soft-hover);
  }

  #archive-aside {
    position: sticky;
    max-width: 36%;
  }
}

@media (min-width: 1024px) {
  article {
    width: 90%;
  }

  aside {
    width: 190px;
  }

  aside h1 {
    font-size: 45px;
  }

}

@media (min-width: 1440px) {
  article {
    width: 90%;
  }

  aside {
    width: 230px;
  }

  aside h1 {
    font-size: 50px;
  }

}

@media (min-width: 1920px) {
  article {
    width: 90%;
  }

  aside {
    width: 270px;
  }

  aside h1 {
    font-size: 55px;
  }

}

#archive-flex {
  width: 100%;
  height: fit-content;
  min-height: 600px;
  padding-bottom: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  position: relative;
}

#archive-aside {
  top: 10px;
  height: 100%;
  display: flex;
  order: -1;
  flex-grow: 1;
  flex-direction: column;
}

#Archives,
#Categories,
#Tags {
  margin: 0 10px;
  background-color: var(--theme-bg-trans1);
  overflow-y: auto;
}

#Archives,
#Categories,
#Tags,
#Archives h1,
#Categories h1,
#Tags h1 {
  transition: 0.3s;
}

#Archives h1,
#Categories h1,
#Tags h1 {
  margin: 0;
  padding: 0 15px;
  color: var(--theme-text-rev);
  background-color: var(--theme-bg-light);
  font-size: medium;
  font-family: BenderLight;
}

@media (min-width: 769px) {

  #Archives:hover,
  #Categories:hover,
  #Tags:hover,
  #Archives:target,
  #Categories:target,
  #Tags:target {
    background-color: var(--theme-bg-soft);
  }

  #Archives:hover h1,
  #Categories:hover h1,
  #Tags:hover h1,
  #Archives:target h1,
  #Categories:target h1,
  #Tags:target h1 {
    background-color: var(--theme-highlight);
  }
}

#Archives {
  flex-grow: 5;
  position: relative;
}

#Archives h2 {
  margin: 10px 0;
  font-size: large;
}

#Archives h2:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 15px;
  margin-right: 5px;
  background-color: var(--theme-subcolor);
}

#Archives time {
  color: var(--theme-text-light);
  padding: 0 0 0 20px;
}

.categories,
.tags {
  display: inline-block;
}

#Archives-bg {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 72px;
}

#Categories {
  height: 50%;
  flex-grow: 1;
  margin-bottom: 20px;
}

#Tags {
  height: 100%;
  flex-grow: 1;
}

#navigation a {
  width: 100%;
  display: inline-block;
  padding: 6px 0;
  font-size: x-large;
  font-weight: 900;
  font-family: BenderLight;
  text-align: center;
}

.control-archive {
  width: 75px;
  display: inline-block;
}

.control-long {
  width: 115px;
  display: inline-block;
}

main {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  overflow: overlay;
  box-sizing: border-box;
}

article {
  transition: margin 0.3s;
  box-sizing: border-box;
  position: relative;
  min-height: calc(100vh - 10px);
  height: fit-content;
  padding-top: 10px;
  min-width: 1px;
}

article #post-content p,
article .recent-excerpt p {
  line-height: 150%;
}

.posts {
  padding-bottom: 72px;
  width: 100%;
  min-height: calc(100vh - 82px);
}

@media (max-width: 768px) {
  .posts {
    padding-bottom: 4em;
  }
}

.category-list,
.tag-list {
  list-style: none;
  display: block;
  margin: 0;
}

.category-list {
  padding: 0;
}

.category-list-item {
  position: relative;
}

@media (min-width: 769px) {
  .category-list-item:hover a {
    color: var(--theme-highlight);
    border-left: var(--theme-highlight) solid 5px;
    background-color: var(--theme-bg-soft-hover);
  }

  .category-list-item:hover span {
    color: var(--theme-text-light);
  }
}

.category-list-item-selected a{
  color: var(--theme-highlight);
  border-left: var(--theme-highlight) solid 5px;
  background-color: var(--theme-bg-soft-hover);
}

.category-list-item-selected span{
  color: var(--theme-text-light);
}


.category-list-link {
  width: 100%;
  padding: 6px 40% 6px 10px;
  display: inline-block;
  box-sizing: border-box;
}

.category-list-link:before,
.category-list-link:after {
  color: var(--theme-highlight);
  content: '#';
  padding: 0 5px;
}

.category-list-count {
  padding: 6px 10px;
  position: absolute;
  right: 0;
}

#post-content h1,
#post-content h2,
#post-content h3,
#post-content h4,
#post-content h5,
#post-content h6 {
  border-bottom: var(--theme-unimportant-trans) solid 1px;
  display: flex;
}

#post-content h1 {
  font-size: 1.75em;
}

#post-content h2 {
  font-size: 1.6em;
}

#post-content h3 {
  font-size: 1.45em;
}

#post-content h4 {
  font-size: 1.3em;
}

#post-content h5 {
  font-size: 1.15em;
}

#post-content h6 {
  font-size: 1em;
}

#post-bg {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 30px;
  background-color: var(--theme-bg-trans1);
  overflow-x: auto;
  min-height: calc(100vh - 20px);
}

#post-bg img {
  max-width: 100%;
}

#post-title {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#post-title h1 {
  display: inline-block;
  font-size: 2em;
}

#post-title hr {
  color: var(--theme-unimportant-2);
  position: relative;
}

#post-title hr:before {
  content: '';
  width: 13%;
  height: 3px;
  display: block;
  position: absolute;
  background-color: var(--theme-text-light);
  top: -3px;
  left: -1px;
}

#post-info {
  text-align: right;
}

#post-info time {
  color: var(--theme-highlight);
  font-weight: 900;
}

#post-info .control {
  text-align: left;
  display: inline-block;
  width: 90px;
}

#post-source span {
  color: var(--theme-subcolor);
  background-color: var(--theme-unimportant-2);
}

#post-content {
  margin-bottom: 1em;
}

#post-content table {
  width: 100%;
}

#post-content .footnote-ref:before {
  content: '';
  display: inline-block;
  margin-top: -60px;
  width: 1px;
  height: 60px;
  visibility: hidden;
}

#post-content .footnotes li:before {
  content: '';
  display: block;
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

#post-content h1:target a,
#post-content h2:target a {
  margin-right: 9px;
  background-color: var(--theme-subcolor);
  padding: 2px 3px;
}

#post-content h1 .headerlink,
#post-content h2 .headerlink {
  padding: 2px 2px;
  background-color: var(--theme-highlight);
  margin-right: 7px;
}

#post-content h3:target a,
#post-content h4:target a,
#post-content h5:target a,
#post-content h6:target a {
  margin-right: 9px;
  background-color: var(--theme-subcolor);
  padding: 1px 2px;
}

#post-content h3 .headerlink,
#post-content h4 .headerlink,
#post-content h5 .headerlink,
#post-content h6 .headerlink {
  padding: 1px 1px;
  background-color: var(--theme-highlight);
  margin-right: 7px;
}

#post-footer hr {
  border-color: var(--theme-border);
}

#pages {
  padding: 5px;
  display: flex;
  justify-content: center;
  border-top: var(--theme-border) solid 2px;
  border-bottom: var(--theme-border) solid 2px;
}

.footer-link {
  padding: 5px;
  width: 50%;
  align-self: center;
  height: 100%;
  position: relative;
}

.tag-list {
  padding: 10px;
}

.tag-list-item {
  position: relative;
  line-height: 23px;
  background-color: var(--theme-tag-bg);
  display: inline-block;
  margin: 5px;
  border: var(--theme-tag-border) solid 1px;
  border-radius: 3px;
}

.tag-list-item,
.tag-list-item a,
.tag-list-item span {
  transition: 0.3s;
}

@media (min-width: 769px) {
  .tag-list-item:hover {
    border-color: var(--theme-highlight);
  }

  .tag-list-item:hover a {
    color: var(--theme-text-hover);
    background-color: var(--theme-highlight);
  }

  .tag-list-item:hover span {
    background-color: var(--theme-tag-bg);
  }

  .tag-list-item:active {
    border-color: var(--theme-border);
  }

  .tag-list-item:active a {
    background-color: var(--theme-subcolor);
  }
}

.tag-list-link {
  color: var(--theme-text-light);
  padding: 3px 6px 3px 12px;
  display: table-cell;
  box-sizing: border-box;
}

.tag-list-link::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.tag-list-count {
  width: 10px;
  padding: 3px 6px;
  color: var(--theme-text-light);
  background-color: var(--theme-tag-count-bg);
  display: table-cell;
  pointer-events: none;
  vertical-align: middle;
}
