server:
  port: 9991

srrBot:
  targetQQGroup: "GROUPCODE"

spring:
  datasource:
    url: jdbc:sqlite:sample.db
    username:
    password:
    driver-class-name: org.sqlite.JDBC

logging:
  level:
    com.desire.dao: debug
