server:
  port: 9991

srrBot:
  targetQQGroups: "GROUPCODE, OTHERGROUP"
  masterQQ: "MASTERQQ"

spring:
  datasource:
    url: jdbc:sqlite:sample.db
    username:
    password:
    driver-class-name: org.sqlite.JDBC
