spring:
  datasource:
    url: jdbc:postgresql://DB_ADDRESS
    username: DB_USER
    password: DB_PASSWD
    driver-class-name: org.postgresql.Driver

server:
  port: 8282


logging:
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    max-size: 10MB
    max-history: 10
  level:
    org:
      springframework:
        web: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE
logging.file: chiya.log

# Bot Configuration START

bot:
  global:
    name: BOT_NAME
    icon: http://BOT_ICON
    masters:
      - MASTER_USER_ID
    storageLocation:  URI/TO/FOLDER

  translate:
    url: BAIDU_TRANSLATE_API_ADDRESS
    appid: APP_ID
    secret: APP_SECRET


# Bot Configuration END
---
spring:
  profiles: development
  thymeleaf:
    cache: false

  datasource:
    url: jdbc:postgresql://DB_ADDRESS
    username: DB_USER
    password: DB_PASSWD
    driver-class-name: org.postgresql.Driver


