server:
  port: 8989

logging:
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    max-size: 10MB
    max-history: 10
  level:
    org:
      springframework:
        web: DEBUG
logging.file: msum.log

---
spring:
  profiles: development
  thymeleaf:
    cache: false